<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @arcade.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @arcade.address %>
</p>

<p>
  <strong>Comments count:</strong>
  <%= @arcade.comments_count %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @arcade.owner_id %>
</p>

<p>
  <strong>Games:</strong>
  <%= @arcade.machines.each do |machine| %>
    <%= render "machines/machine", machine: machine %>
  <% end %>
</p>

<%= link_to 'Edit', edit_arcade_path(@arcade) %> |
<%= link_to 'Back', arcades_path %>
